
/*-----------*  Quick Reference  *---------*/

/*--   FastFinds_and_Colors.txt  --*/

/* That matrix-esque bright green */
.matrix {
    background: #02ff53;
    color: rgb(2, 255, 83);
}

/* For toggle switches */
.iphone {
    background: #4caf50;
}

/* Dark Blue (beautiful) */
.dblue {
    background: #001d2c;
    color: rgb(0, 29, 44);
}

/* Moderate Blue */
.mblue {
    background: #107dc1;
    color: rgb(16, 125, 193);
}

/* Bright blue */
.bblue {
    background: #00a0e1;
    color: rgb(0, 160, 225);
}




/* Imports */
@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/fontawesome-webfont.ttf),
  url(../fonts/fontawesome-webfont.woff2), url(../fonts/FontAwesome.otf);
}
@font-face {
  font-family: 'open sans', sans-serif;
  src: url(../fonts/OpenSans-Regular.ttf); font-weight: 400;
}
@font-face {
  font-family: 'open sans', sans-serif;
  src: url(../fonts/OpenSans-Semibold.ttf); font-weight: 600;
}
@font-face {
  font-family: 'open sans', sans-serif;
  src: url(../fonts/OpenSans-Semibold.ttf); font-weight: bold;
}
@font-face {
  font-family: 'robot', sans-serif;
  src: url(../fonts/Roboto-Regular.ttf); font-weight: 400;
}

@font-face {
  font-family: 'robot', sans-serif;
  src: url(../fonts/Roboto-Medium.ttf); font-weight: 600;
}
@font-face {
  font-family: 'robot', sans-serif;
  src: url(../fonts/Roboto-Bold.ttf); font-weight: 700;
}
@font-face {
  font-family: 'robot', sans-serif;
  src: url(../fonts/Roboto-Bold.ttf); font-weight: bold;
}



/* Globals */
* { box-sizing: border-box; }
body {
    width: 100%; max-width: 100%;
    background: black; height: auto;
    overflow-x: hidden;
    padding: 0; margin: 0;
}

input, button { outline: none;}

a { text-decoration: none; }

div, span, input, button, a, p, h1, h2, h3, h4 {
    box-sizing: border-box;
}


/*
 *
 *
 * Text
 *--------------*/
h1, h2, h3, h4 {
    font-family: 'robot', sans-serif;
    letter-spacing: 1px; line-height: 110%;
    text-transform: capitalize;
}

h1, h2 { font-weight: 700;}

h3, h4 { font-weight: 400; }

h1 { font-size: 2.5em;  }

h2 { font-size: 2.0em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.0em; }

p, div {
    font-family: 'open sans', sans-serif;
    letter-spacing: 1px; line-height: 110%;
}

p { font-size: 14px; font-weight: 400; }





/*
*
*
*
*   Buttons     Buttons     Buttons
*----------------------------------*
*------ #ffbuttons -----------------*
*------------------------------------*/

/* Generic button */
.bt {
    width: auto; height: auto;
    padding: 10px 15px; box-sizing: border-box;
    display: -ms-inline-flexbox;
    display: inline-flex; margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; -ms-flex-line-pack: center; align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap;

    border-top-left-radius: 7% 12%;
    border-top-right-radius: 7% 12%;
    border-bottom-right-radius: 7% 12%;
    border-bottom-left-radius: 7% 12%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                    0 3px 1px -2px rgba(0,0,0,.2),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);

    font: inherit; font-size: 120%;
}

/* Generic button -> Children */
.bt:nth-child(1) {  margin: auto; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }


/* Circular Button */
.bt-c {

    width: auto; height: auto;
    display: -ms-inline-flexbox;
    display: inline-flex; margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; -ms-flex-line-pack: center; align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12),
                    0 1px 1px 0 rgba(0,0,0,.24);

    font: inherit; font-size: 120%;
}




/*
 *
 *
 *
 *
 * Layout
 *-------*
 *--------------------------*/

/*-----*   MAIN Containers   *-------*/

/* Generic full width */
.full {
    width: 3000px; max-width: 100%;
    height: auto; display: block;
    margin: auto; padding: 10px;
}

/* Full -> flex box */
.fb {
    width: 3000px; max-width: 100%;
    height: auto; margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
}

/* Full -> inline-flex, align center */
.fbi {
    width: 3000px; max-width: 100%;
    height: auto; margin: auto;
    display: -ms-inline-flexbox;
    display: inline-flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; -ms-flex-line-pack: center; align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*--  Quickly add display options   --*/
.flex {display: -webkit-box;display: -ms-flexbox;display: flex;}
.iflex {
    display: -ms-inline-flexbox; display: inline-flex; }
.block {display: block;}


/*--  Add display options with width  --*/
.flex-small, .iflex-small, .block-small {
    width: 250px; max-width: 100%;
}
.flex-med, .iflex-med, .block-med {
    width: 500px; max-width: 100%;
}
.flex-lg, .iflex-lg, .block-lg {
    width: 700px; max-width: 100%;
}
.flex-small, .flex-med, .flex-lg { display: -webkit-box; display: -ms-flexbox; display: flex;  -ms-flex-wrap: wrap;  flex-wrap: wrap;}
.iflex-small, .iflex-med, .iflex-lg {
    display: -ms-inline-flexbox;
    display: inline-flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.block-small, .block-med, .block-lg { display: block; margin: auto;}

/*-----*  Child Containers *-------*/

/* Generic */
.c {
    width: auto; max-width: 100%;
    height: auto; margin: auto;
    padding: 10px; box-sizing: border-box;
}

/*-- Explicit size --*/

/* Small */
.c-small {
   width: 250px; max-width: 100%;
    height: auto; margin: auto;
    padding: 10px; box-sizing: border-box;
}

/* Medium */
.c-med {
    width: 500px; max-width: 100%;
    height: auto; margin: auto;
    padding: 10px; box-sizing: border-box;
}

/* Large */
.c-lg {
    width: 700px; max-width: 100%;
    height: auto; margin: auto;
    padding: 10px; box-sizing: border-box;
}


@media only screen and (min-width: 700px) {

  /* Percentage based sizing -> Desktop */
    .cd-full { width: 3000px; max-width: 100%; }
    .cd-ninefive { width: 3000px; max-width: 95%;}
    .cd-half { width: 1500px; max-width: 50%; }
    .cd-third { width: 3000px; max-width: 33%; }
    .cd-fourth { width: 3000px; max-width: 25%; }
    .cd-fifth { width: 3000px; max-width: 20%; }
}

@media only screen and (max-width: 700px) {

  /* Percentage based sizing -> Mobile */
    .cm-full { width: 3000px; max-width: 100%; }
    .cm-ninefive { width: 3000px; max-width: 95%;}
    .cm-half { width: 1500px; max-width: 50%; }
    .cm-third { width: 3000px; max-width: 33%; }
    .cm-fourth { width: 3000px; max-width: 25%; }
    .cm-fifth { width: 3000px; max-width: 20%; }
}



/*-----*  Alignment Containers *-------*/
/* stretch */
.c-stretch { -ms-flex-line-pack: stretch; align-content: stretch; }

/* Center */
.c-center { -ms-flex-line-pack: center; align-content: center; }

/* Start */
.c-start { -ms-flex-line-pack: start; align-content: flex-start; }


/* Note, child container alignments must be written AFTER the size */
/* Child container -> Align left */
.c-left { margin: auto auto auto 0; }

/* Child container -> Align right */
.c-right { margin: auto 0 auto auto; }




/*
*
* Background colors
*--------------------------------*/

/* Matrix Green */
.bg-green {
    background: #02ff53;
    color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px black;
}

/* Dark Blue (beautiful) */
.dblue {
    background: #001d2c;
    /*color: rgb(0, 29, 44);*/
    color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px black;
}

/* Moderate Blue */
.mblue {
    background: #107dc1;
    /*color: rgb(16, 125, 193);*/
    color: #001d2c; text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px 5px white;
}

/* Bright blue */
.bblue {
    background: #00a0e1;
    /*color: rgb(0, 160, 225);*/
    color: #001d2c; text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px 5px white;
}


/*--  Greys  --*/
.bashy, .lgrey {background: #e8e8e8;}
.lmgrey { background: #b4b4b4;}
.mgrey {background: #757575;}
.dgrey {background: #1e1e1e;}
.black { background: black;}


/*
 *
 *
 *
 *
 * Borders && Shadows
 *--------------------------*
 *--------------------------*/

/* No-Border*/
.b-no { border: none;}

/*---   Shadows   ----*/
.s-far { box-shadow: 2px 1px black, 0 0 20px black, 0 0 30px rgba(0, 0, 0, 0.5)}
.s-near { box-shadow: 2px 1px black, 0 0 10px black, 0 0 30px rgba(0, 0, 0, 0.2)}





/*
 *
 *
 *
 *
 * Font colors && sizes
 *--------------------------*
 *--------------------------*/

/*--   Sizes   --*/

/* Smaller */
.t-fif { font-size: 20%; }
.t-quarter { font-size: 25%; }
.t-third { font-size: 33%; }
.t-half { font-size: 50%; }
/* Three-quarters */
.t-75 { font-size: 75%; }
/* 80% */
.t-80 { font-size: 80%; }
 /* 90% */
.t-90 { font-size: 90%; }


 /* Bigger */
.t-110 { font-size: 110%; }
.t-125 { font-size: 125%; }
.t-150 { font-size: 150%; }



/*--   Font-FastFinds_and_Colors.txt  ** NO SHADOWS ** --*/
/* Black */
    .t-black { color: black; }
/* White */
    .t-white { color: white; }
/* Ashy */
    .t-ashy { color: #e8e8e8;}
/* Green */
    .t-matrix { color: #02ff53;}
/* Dark blue */
    .t-dblue { color: #001d2c; }
/* Moderate blue*/
    .t-mblue { color: #107dc1;}
/* Light blue */
    .t-bblue { color: #00a0e1; }


/*--   Font-FastFinds_and_Colors.txt  ** WITH SHADOWS ** --*/
/* Black */
    .ts-black { color: black; text-shadow: 2px 1px white; }
/* White*/
    .ts-white { color: white; text-shadow: 2px 1px black; }
/* Ashy */
    .ts-ashy { color: #e8e8e8; text-shadow: 2px 1px black; }
 /* Green    */
    .ts-matrix { color: #02ff53; text-shadow: 2px 1px black; }
/* Dark blue */
    .ts-dblue { color: #001d2c; text-shadow: 2px 1px white; }
/* Moderate blue*/
    .ts-mblue { color: #107dc1; text-shadow: 2px 1px black; }
/* Light blue */
    .ts-bblue { color: #00a0e1; text-shadow: 2px 1px black; }




/*-----------------*     Text alignment     *--------------------*/
.t-l { text-align: left; margin: auto auto auto 0; }
.t-r { text-align: right; margin: auto 0 auto auto; }
.t-c { text-align: center; margin: auto; }






/*
 *  Text-heavy containers
 *
 *
 *--------------------------*/


 /* Typical card-style container */
.t-box {
    width: 95%; max-width: 95%;
    height: auto;
    padding: 10px; box-sizing: border-box;
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                    0 3px 1px -2px rgba(0,0,0,.2),
                    0 1px 5px 0 rgba(0,0,0,.12)
}





/* Google-Style "card" container
 *------------------------------*

 # Example usage:
 div .card
     div .main
          img src="example.com/randomimage"
          p  | a couple of words

     div .desc
         p | A couple of sentences describing this thing
     div .cta
         button |  This is a call to action button
 */

.card {
    width: 3000px; max-width: 98%;
    height: auto; margin: auto;
    position: relative; z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),
                    0 3px 1px -2px rgba(0,0,0,.25),
                    0 1px 5px 0 rgba(0,0,0,.15);
    font: inherit;
}

.card .main, .card .main p, .card .desc,
    .card .desc p, .card .cta,
    .card .cta button {
        height: auto; margin: auto; box-sizing: border-box;
        position: relative; text-decoration: none;
    }

    .card .main {
        width: 100%;
        padding: 0;
        z-index: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: start;
            align-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap;
    }

        .card .main img {
            width: 100%; max-width: 100%;
            height: auto;
            padding: 0;
            position: relative; z-index: inherit;
        }

        /* A word or two */
        .card .main p {
            width: auto;
            margin: auto auto 2px auto;
            top: 90%; bottom: 0;
            padding: 10px; box-sizing: border-box;
            z-index: 11;
            -ms-flex-item-align: end;
                align-self: flex-end;
            font: inherit;
            font-size: 120%;
            color: white;
            text-shadow: 0 2px 10px rgba(0,0,0,.2),
                            1px 2px 0 rgba(0,0,0,.25),
                            0 1px 2px rgba(0,0,0,.15);
        }

    /* Short description */
    .card .desc {
        width: 100%;
        padding: 5px 10px;
        font: inherit;
        border-bottom: 1px solid #cccccc;
    }
        .card .desc p { font: inherit; text-align: left; }

    /* Call to action */
    .card .cta {
        width: 100%;
        padding: 5px 10px; text-transform: capitalize;
    }
        .card .cta button {
            width: auto; padding: 10px;
            text-decoration: none; font-size: 120%; text-transform: capitalize;
        }
        .card a { text-decoration: none; }






/*----  Text Pill  ----*

*----------------------------------------------------------------------*
 Container w/ big text on the left, small text on the right.
        - Left side has the same background as the rest of the container
        - Right side has a different background

# Example Usage:
div .t-pill
    .first
        p |  Some text on the left
    .second
        p |  Other text on the right

*-----------------------------------------------------------------------*/



/* Don't forget to set background && / or  font-colors */
.t-pill {
    width: 900px;
    max-width: 90%;
    height: 100px;
    margin: 30px auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch;
    border: none; border-radius: 15px;
}

    .t-pill .first, .t-pill .second {
        font: inherit; box-sizing: border-box;
        height: 100%; text-align: center;
        margin: auto;
    }
    .t-pill .first {
        width: 175px; max-width: 30%;
        -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
            align-self: stretch;

        background: transparent;
        font: inherit;
        font-size: 125%;
        text-align: center; font-weight: 700;
    }

    .t-pill .second {
        width: 500px; max-width: 70%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        padding: 10px 25px;

        font-size: 115%;
        border-top-right-radius: inherit; border-bottom-right-radius: inherit;
    }





/*
  # Animation reference

.foo {
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
*/

/*
 *
 *
 *
 *
 *     Modals  Modals   Modals
 *------------------------------*
 *------------------------------*/
/* Example Usage:

# main modal container
div .modal-c
    div .something
        p | Some text you want to show before the modal popup

    div .modal
        button .close
        div .mod-bod
            p | Random text inside the modal

*/

/* container for when the modal is NOT visible */
.modal-c { all: inherit;}
.modal-c:first-child { all: inherit; }

.modal-c, .modal-c .modal, .modal-c:nth-child(1), .modal:nth-child(1) { box-sizing: border-box; }
/* Container for the actual modal */
.modal-c .modal {
    width: 95%; height: 95%;
    display: none;
    margin: auto;
    padding: 10px;
    top: 100px;
    left: 0; right: 0;
    position: static;
    z-index: 800;

    background: #1e1e1e;
    font-family: 'open sans', sans-serif;
    color: white; text-shadow: 1px 1px black;
    overflow-x: hidden; overflow-y: auto;
}

.modal-c .modal.active { display: block; }

    .modal-c .modal:after {
        width: 100%; height: 100%;
        position: static;
        z-index: 700; background: rgba(0,0,0,0.4);
    }

    .modal-c .modal .close {
        width: 25px; height: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; -ms-flex-line-pack: center; align-content: center;
        position: relative;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: auto 0 auto auto; right: 10px;

        background: #e8e8e8;
        color: black; text-shadow: 1px 1px black;
    }

    .modal-c .modal .mod-bod, .modal-c .modal .mod-bod p {
        width: 100%; height: auto;
        margin: auto;

        font: inherit;
        font-size: 14px; line-height: 110%; letter-spacing: 1px;
        color: black; text-shadow: 1px 1px black;
        background: inherit;
    }





/*
 *
 *
 *
 *
 *     Slider   Slideshow   Carousel
 *----------------------------------*
 *-----------------------------------*/
/* Example Usage:

# main modal container
div .slider
    div .slide
        img
        p, div, whatever

    div .slide
        img
        p, div, etc

    button .pre  |  ❮
    button .nxt  |  ❯

*/

/* Slider container */
.slider {
    width: 100%; height: auto;
    margin: auto; padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -ms-flex-line-pack: stretch; align-content: stretch;

}

.slider, .slide {
    position: relative; z-index: 100;
}

.slider .slide {
    width: 100%;
    padding: 0;
    margin: auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    display: none;
}
/* When you add the active class to .slide, it flexes */
.slider .slide.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
}


.slider .pre, .slider .nxt {
    width: auto;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    position: absolute;

    font-size: 18px;
    color: white; text-shadow: 1px 1px black, 0 0 5px black;
    font-weight: bold;

    -webkit-transition: 0.6s ease;

    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
} .slider .pre:hover, .slider .nxt:hover { background: rgba(0, 0, 0, 0.8); }


.slider .pre { left: 10px; }
.slider .nxt { right: 10px; }





/*
 *
 *
 *  Style the range input
 *-----------------------*/

input[type=range] label {
    font: inherit;
    height: 15px; width: 140px;
    text-align: left;
    /*margin: auto auto auto 22%;  left: 0;*/
    /*display: block;*/
    position: absolute;
    left: 18.5%; top: 8px;
}


/*  This is where the RANGE output is displayed
----------------------------------------------*/
input[type=range] output {
    width: 120px; max-width: 100%;
    height: 45px;
    margin: 10px auto 40px auto;
    padding: 15px;
    display: block; box-sizing: border-box;
    position: relative;
    z-index: 100;
    background: #104b64;
    font: inherit; font-size: 110%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
                -2px 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
input[type=range] output:after {
    position: absolute; content: "";
    z-index: 101;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #104b64;
    top: 45px; right: 40%;
}

/* The (tuition) input==range slider */
input[type=range] {
    width: 500px; max-width: 90%; margin: auto;
    border: 1px solid white; -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 700px; height: 5px;
    background: #ddd; border: none;  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    height: 25px; width: 25px; margin-top: -12px;
    border-radius: 50%; border: none;
    background: #2196F3;    -webkit-appearance: none;

}
input[type=range]:focus { outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track { background: #ccc; }

input[type=range]::-moz-range-track {
    width: 700px; height: 5px;
    background: #ddd;
    border: none;  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    height: 25px; width: 25px;
    border: none; border-radius: 50%; background: #2196F3;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{ outline: 1px solid white; outline-offset: -1px;}

input[type=range]::-ms-track {
    width: 700px; height: 5px;
    background: transparent;  border-color: transparent; border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower { background: #777; border-radius: 10px;  }
input[type=range]::-ms-fill-upper {  background: #ddd; border-radius: 10px; }
input[type=range]::-ms-thumb {
    height: 25px; width: 25px;
    border: none; border-radius: 50%; background: #2196F3;
}
input[type=range]:focus::-ms-fill-lower { background: #888;}
input[type=range]:focus::-ms-fill-upper { background: #ccc; }



/*
*
*  Header
*---------------------------------*
*---------------------------------*/

header {
    width: 3000px; max-width: 100%;
    height: 70px; max-height: 100%;
    margin: auto;
    padding: 10px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;

    font-family: 'robot', sans-serif;
    color: white; font-size: 16px;
    /*border-bottom: 1px solid #1e1e1e;*/
    position: relative;
    background: black;
    z-index: 900;
}

header .logo {
    width: auto;
    height: auto; max-height: 100%;
    margin: auto auto auto 10px;
    padding: 10px; -ms-flex-item-align: end; align-self: flex-end;
    position: relative;
}
header .logo img {
    width: 50px; height: auto;
}


/* Container for nav links */
header .nav-c {
    width: 75%; background: inherit;
}
header .nav-c .nav.last { border: transparent; }


/* Header -> Desktop */
@media only screen and (min-width: 701px) {
    /* Button to show/hide nav bar */
    header button {
        display: none; position: relative;
    }
    header .nav-c {
        height: 75px; max-height: 100%;
        margin: auto 10% auto auto;
        padding: 0 20px; box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; position: relative;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -ms-flex-line-pack: center;
            align-content: center; -ms-flex-item-align: stretch; align-self: stretch;
        font-size: 20px;
        z-index: 900;
    }
    header .nav-c .nav {
        width: 150px;
        margin: auto;
        padding: 10px 20px; box-sizing: border-box;
        background: inherit;
        border-right: 1px solid #1e1e1e;
        color: white;
        text-align: center;
    }
    header .nav-c .nav:hover {
        background: #001d2c;
    }
}

/* Header -> Mobile */
@media only screen and (max-width: 700px) {
    /* Button to show/hide nav bar */
    header button {
        width: 45px; height: 45px;
        margin: auto 10% auto auto;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 0; position: relative;

        background: #001d2c;
        border: transparent;
        border-radius: 20%;
        box-shadow: 0 0 5px #107dc1 inset;

        font-size: 130%;
        color: white;
        text-shadow: 1px 1px black,
                        0 0 5px black;
        text-align: center;
    }
    header button .fa {
        /*text-align: center;*/
        margin: auto;
    }

    /* Container for nav links */
    header .nav-c {
        display: none;
        width: 200px; max-width: 95%;
        height: auto;
        background: inherit;
        margin: auto 5px auto auto;

        top: 75px;
        right: 0; position: absolute;
        text-align: center;
        /*box-shadow: -2px -1px 3px #001d2c, -2px 3px 3px #001d2c;*/
        box-shadow: -2px 2px 4px #107dc1, 0 0 3px #107dc1;
        z-index: 999;

    }
    header .nav-c.active { display: block;}
    header .nav-c .nav {
        width: 100%; height: auto;
        display: block;
        padding: 20px 5px; box-sizing: border-box;
        background: inherit;
        font: inherit;
        color: white;
        text-shadow: 1px 1px black;
        border-bottom: 2px solid #1e1e1e;
        position: relative;
    }
    /*header .nav-c .nav:last-of-type { border: none;}*/

    header .nav-c .nav .fa { font-size: 120%; }
}





/*
*
*    Footer
*---------------------------------*
*---------------------------------*/

footer {
    width: 3000px; max-width: 100%;
    height: auto;
    padding: 10px; box-sizing: border-box;
    font-family: 'robot', sans-serif;
    font-size: 16px; color: white;
    text-shadow: 1px 1px black,
        0 0 5px black;
    text-align: left;
    background: #1e1e1e;
}
















 /* Globals to override anything that was previously written */
a, button { cursor: pointer;}
.active { display: block; }
.active-fl { display: -webkit-box; display: -ms-flexbox; display: flex; }
.hide { display: none; }
.nb {border: transparent;}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.75s;
  animation-name: fade;
  animation-duration: 0.75s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}









/*
*
*
*  ChrisaCreative Styles
*------------------------*
*************************/



/*-----------   Globals   ---------*/

* {box-sizing: border-box;}

/*
 *
 *
 * Text
 *--------------*/
h1, h2, h3, h4 {
    font-family: 'robot', sans-serif;    letter-spacing: 1px; line-height: 110%;    text-transform: capitalize;}
h1, h2 { font-weight: 700;}
h3, h4 { font-weight: 400; }
h1 { font-size: 2.5em;  }
h2 { font-size: 2.0em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.0em; }
p, div {
    font-family: 'open sans', sans-serif;    letter-spacing: 1px; line-height: 110%;}
p { font-size: 14px; font-weight: 400; }


/*-----------   FastFinds_and_Colors.txt   ---------*/

/* Matrix Green */
.bg-green {
    background: #02ff53;
    color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px black;
}

/* Dark Blue (beautiful) */
.dblue {
    background: #001d2c;
    /*color: rgb(0, 29, 44);*/
    color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px black;
}

/* Moderate Blue */
.mblue {
    background: #107dc1;
    /*color: rgb(16, 125, 193);*/
    color: #001d2c; text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px 5px white;
}

/* Bright blue */
.bblue {
    background: #00a0e1;
    /*color: rgb(0, 160, 225);*/
    color: #001d2c; text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px 5px white;
}


/*--  Greys  --*/
.bashy, .lgrey {background: #e8e8e8;}
.lmgrey { background: #b4b4b4;}
.mgrey {background: #757575;}
.dgrey {background: #1e1e1e;}
.black { background: black;}



/*
*
*
*
*
*   Chris A Creative Specific Styles
*---------------------------------- */


/*----   Footer  ----*/

footer {
    width: 3000px; max-width: 100%;
    height: 120px;
    margin: auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: black;
    color: #5a5a5a;
}

footer a .fa {
    font-size: 50px;
    color: #5a5a5a;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: auto;
}



/*
*
*
*
*
*   Home Page
*---------------------------------- */
.terminal-main {
    max-width: 95%;
    height: 500px;
    background: #d4d4d4;
    border-radius: 5px;
    padding: 7px;
    /*border: 5px solid #b4b4b4;*/
}

.terminal-nav {
    height: 30px;
    padding: 0 10px;
    -ms-flex-line-pack: center;
        align-content: center;
}

.terminal-bod {
    height: 456px;
    padding: 20px 10px;
    background: black;
    color: #02ff53;
    line-height: 175%;
}  .terminal-bod span, .terminal-bod p{ font: inherit;}



/* Desktop */
@media only screen and (min-width: 700px) {

    .terminal-main {
        margin: 100px auto;
    }
}

/* Mobile */
@media only screen and (max-width: 700px) {
    .terminal-main {
        height: 300px;
    }
    .terminal-bod {
        height: 256px;
        font-size: 14px;
    }
}





/*
*
*
*
*
*   Work -> Main Page
*---------------------------------- */

.work-body {
    padding: 0 0 20px 0;
    background: #1e1e1e;
}

.work-body .fb { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}

.work-body .w-filtr {
    width: 750px;
    margin: 0 auto 40px 0;
    padding: 20px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /*justify-content: space-between;*/
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.work-body .w-filtr button.bt {
    margin: 20px auto 10px 40px;
    padding: 15px 20px;
    background: #001d2c;
    color: white;
    font-size: 90%;
    text-shadow: 1px 1px black, 0 0 5px black;
    text-align: center;
    border:transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                    0 3px 1px -2px rgba(0,0,0,.9),
                    0 1px 5px 0 rgba(0, 0, 0, 0.8),
                    2px 2px black, 2px 2px 10px rgba(0, 0, 0, 0.72);
    }

    .work-body .w-filtr button.filterby {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                    0 3px 1px -2px rgba(0,0,0,.9),
                    0 1px 5px 0 rgba(0, 0, 0, 0.8),
                    2px 2px black, 2px 2px 10px rgba(0, 0, 0, 0.72),
                    0 0 8px #107dc1 inset;
    }

/*--   Content   --*/
.work-body .card {
    width: 500px; max-width: 90%;
    height: auto;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /*align-content: flex-start;*/
    background: transparent;
    font-size: 14px;
    padding: 10px;
    /*overflow: hidden;*/
    box-shadow: none;
}

.work-body .card .main {
    width: 100%; height: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: hidden;
    box-shadow: 2px 2px 5px black,
                2px 2px 20px rgba(0, 0, 0, 0.5);
}

.work-body .card .main:hover {
    box-shadow: 2px 2px 5px black,
                2px 2px 10px rgba(210, 210, 210, 0.6);
}

.work-body .card .main .c-type {
    width: 150px; height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    position: absolute;
    top: -90px; right: -87px;
    z-index: 901;

    color: #1069a7; font-size: 40px;
    text-shadow: 1px 1px black, 1px 1px 2px black;
    background: #001d2c;
    box-shadow:  0 0 10px #1069a7 inset, 0 0 10px #1069a7 inset;
    border-radius: 50%;
}

    .work-body .card .main .fa,
      .work-body .card .main .devicons {
        /*margin: auto auto 20% 20%;*/
        margin: auto;
        position: relative;
        top: 32px; right: 32px;
    }
    .work-body .card .main .devicons-terminal_badge {
        font-size: 67px;
    }
    .work-body .card .main .devicons-photoshop {
        font-size: 40px;
    }
    .work-body .card .main .fa { font-size: 30px; }
    .work-body .card .main img {
        width: 500px; max-width: 100%;
        height: auto;
        margin: auto;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -webkit-filter: brightness(90%);
        filter: brightness(90%);
    }

    .work-body .card .main img:hover {
        -webkit-filter:  contrast(105%) brightness(105%);
        filter: contrast(105%) brightness(105%);
    }

/* Work output -> Description */

.work-body .card .desc {
    height: auto;

    background: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px black;
    font-size: 18px;
    padding: 15px; box-sizing:border-box;
    border-bottom: none;
}







/*
*
*
*
*
*
*  Project Pages
*----------------------*/
/* FastFinds_and_Colors.txt from UI inspiration page:
Font == #8a8a8a
Background == #2a2a2a

*/



/* Header (img + title) */
/*------*  OVERFLOW IS HIDDEN  *-----*/

.w-head {
    height: auto;
    /*min-height: 250px;*/
    max-height: 450px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    -ms-flex-line-pack: start;
        align-content: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    overflow: hidden;
    padding: 0;
}
.w-head h1 {
    width: 75%;
    font: inherit;
    line-height: 120%;
    font-size: 36px;
    position: absolute;
    top: 45%;
    right: 0; left: 0;
    margin: auto;
    text-align: center;
    z-index: 2;
    color: #ffffff;
    text-shadow: 2px 1px 2px #001d2c,
                    3px 2px 5px #001d2c, 0 0 10px #001d2c;
}

.w-head img {
    margin: auto;
    position: relative;
    z-index: 1;
    opacity: 0.5;
    width: 2000px;
    max-width: 100%;
    height: auto;
}

.w-head .w-hbg {
    width: 100%;
    /*height: 450px; max-height: 100%;*/
    background-size: cover;
    opacity: 0.5;
}


/* Project Description */
.w-about {
    width: 100%;
    padding: 10px 15px;
    background: #2a2a2a;
    color: #8a8a8a;
    text-shadow: 2px 1px 3px black;
}

.w-about .about h2 {
    width: 100%;
    position: relative;
    z-index: 1;
}

.w-about .about h2:after {
    width: 75%;
    content: '';
    position: absolute;
    top: 115%;
    left: 0;
    z-index: 2;
    border-bottom: 5px solid #8a8a8a;
}

.w-about .about .tools {
    padding: 30px 0;
}

.w-about p, .w-about ul {
    font: inherit;
    font-size: 18px;
    line-height: 175%;
    color: #e8e8e8;
}

.w-about .about {
    width: 800px; max-width: 100%;
    margin: auto;
}


/* Work -> Image gallery */
.w-gallery {
    width: 100%; padding: 10px 20px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    background: #1e1e1e;
}
.w-gallery .t-box, .w-gallery .t-box img {
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}
.w-gallery .t-box {
    width: auto;
    height: auto;
    max-height: 500px;

    display: block;
    padding: 10px;
    margin: 20px auto;
    -ms-flex-line-pack: center;
        align-content: center;
    /*background: #2a2a2a;*/
    background: #001520;
    border-radius: 5px;
    box-shadow:  1px 1px 2px rgba(0, 160, 225, 0.46),
            1px 2px 5px rgba(0, 0, 0, 0.5), 2px 2px 15px #111111;
}
.w-gallery .t-box img {
    width: auto; max-width: 100%;
    min-height: 100px; max-height: 100%;
    height: 480px;
    margin: auto;
}


/* Work Page -> Header image, for bigger desktop screens */
@media only screen and (min-width: 1300px) {
    .w-head img {
        width: 120%; max-width: 120%;
        margin-top: -2%;
    }

    .w-head .w-hbg {
        background-position: -10%;
    }

}


/* Work page && Project pages -> Desktop */
@media only screen and (min-width: 701px) {
    .w-head { height: 450px; }

    .w-head h1 {
        font-size: 50px;
    }
    .work-body .w-filtr p {
        width: auto; text-align: left;
        padding: 0 10px 0 25px;
    }
    .work-body .w-filtr div {
        margin: auto auto auto 0 ;
    }

    /* Project Description */
    .w-about {
        width: 100%;
        padding: 10px 25px;
    }
    .w-about p, .w-about ul, .w-about li {
        font-family: 'open sans', sans-serif;
        font-size: 18px;
    }
    .w-gallery .t-box { padding: 7px;}

}



/* Work page && Project pages -> Mobile */
@media only screen and (max-width: 700px) {
    .work-body .w-filtr {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    .work-body .w-filtr div {
        height: auto;
        margin: auto ;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; -ms-flex-line-pack: center; align-content: center;
    }
    .work-body .w-filtr button.bt {
        margin: auto 7px;
        padding: 15px 20px;
        color: white;
    }
    .work-body .w-filtr p {
        width: auto; text-align: left;
        padding: 0 10px 0 5px;
        /*margin-left: 5%;*/
    }
    .w-head { height: 250px; }
    .w-head img {
        /*margin-bottom: -2%;*/
        /*margin-bottom: 0;*/
    }
    .w-gallery .t-box {
        width: auto; max-width: 100%;
        padding: 5px;
    }
    .w-gallery .t-box img {
        max-height: 100%;
        height: auto;
    }
}


/* Work page && Project pages -> Micro */
@media only screen and (max-width:375px) {
    .work-body .w-filtr div {
        height: auto;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    }

    .work-body .w-filtr button.bt {
        margin: 10px;
        padding: 12px 15px;
        color: white;
        font-size: 75%;
    }
}


/* Footer styles*/

footer .fb {
    width: 500px; max-width: 100%;
        justify-content: space-around; margin: auto;
}
footer a { text-decoration: none;}
footer .fb .fa {
    margin: auto;
}
footer .fb .fa-linkedin-square { color: #0077b5; }
footer .fb .fa-envelope { color: #e8e8e8; text-shadow: 2px 2px 2px #001d2c; }
footer .fb .fa-github {
    text-shadow: 0 -1px white, -1px 0 white,
                1px 0 white, 0 1px white,
                0 0 2px white, 0 0 5px white,
                1px 1px 2px white, -1px 1px 2px white;
    color: black;
}