
* {
    box-sizing: border-box;
}

.main input { border: none;}
/* Main Page */
.main input[type=text] {
    /* Sizing */
    width: 500px; max-width: 100%;
    height: auto; padding: 10px;

    /* Colors, fonts, borders, && backgrounds */
    font: inherit;
    font-size: 14px;
    color: white;
    background: transparent;
    border-bottom: 2px solid #00a0e1;
    border-left: 2px solid rgba(0, 160, 225, 0.5);
}

.main input[type=text]:focus {
    background: #1e1e1e;
    color: white; text-shadow: 1px 1px 1px black, -1px -1px 0 black;
}

.main .url-c {
    padding: 30px 10px;
}

.dl-btn {
    background: white; color: black;
}