{% extends 'base.html' %}

{# Styles #}
{% block style %}

{% endblock %}
{# Body #}
{% block bod %}

    <div class="main musica">

{#  -----  File Output ---------- #}
<form id="delete_form" class="f-output" action="{{ url_for('songs') }}" method="POST">
        {{ song_form.csrf_token }}
        <div class="music_dir s-near">
        {#  --  Headers -- #}
            <div class="row h-row">
                <div id="selectallb" class="c_selectall selected">
                    <span class="fa fa-plus"></span>
                </div>
                <div class="cd-eight cm-eight sd-c song-h">
                    <h2><b>Songs</b></h2>
                </div>
            </div>

            {% for song in songs %}
                <div class="row song-row">
                    <div class="cd-ninefive cm-ninefive sd-c">
                        <label for="{{ song['id'] }}"></label>
                        <input name="{{ song['id'] }}" id="{{ song['id'] }}" type="checkbox">
                        <p>
                            <a href="{{ song['url'] }}"
                               class="t-dgreyblue" download>
                                {{ song['name'] }}
                            </a>
                        </p>
                        {# Download link/icon #}
                        <a href="{{ song['url'] }}" download>
                            <span class="fa fa-download"></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
    {# Cancel/Delete buttons #}
        <div class="btn-c">
            <button type="reset" class="bt s-near">
                <span class="fa fa-close"></span>
                <span>Cancel</span>
            </button>
            <button id="deleter" type="submit" class="bt s-near del-btn">
                <span class="fa fa-trash"></span>
                <span>Delete</span>
            </button>
        </div>
    </div>
</form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}