{% extends 'base.html' %}

{# Styles #}
{% block style %}

{% endblock %}
{# Body #}
{% block bod %}
    <div style="color: white; text-align: center; padding: 60px; box-sizing: border-box;">
        <p></p>
        <a style="color: white; font-weight: bold; text-decoration: underline;
                  text-shadow: 1px 1px 10px rgba(0,160,225,0.63), -2px -2px 20px rgba(0,160,225,0.63);"
            href="{{ song_url }}" download>
            {{ song_name }}
        </a>
    </div>

    <div class="fb-c main">
        <form action="{{ url_for('index') }}" method="POST">
            {{ form.csrf_token }}
            <div class="fbi">
                {{ form.video_url }}
            </div>
            <div class="fbi url-c">
                <button class="bt dl-btn" type="submit">Get mp3</button>
            </div>
        </form>
    </div>

{% endblock %}
{% block script %}
{% endblock %}